<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <style type="text/css">
        @page {
            size: {{ pagesize }};
            margin: 1cm;
            font-family: sans-serif;
            font-size: 20px;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 9cm;
                height: 1cm;
            }
        }
    </style>
</head>
<body>
    Invoice035
    Shakthi
    No.12, Second cross street, Seeniva counder street, Lawspet, Puducherry - 605 008.<br>
    +91 7708470662
    Lolita
    No.12, Second cross street, Seeniva coun der street, Lawspet, Puducherry - 605 008.
    +91 8754300662
    12/01/2022
    1 - Mobile Phone - 12000 - 12.5 - 2 - 27000
    2 - Air pods - 21000 - 13.8 - 1 - 23898
    3 - Phone back case - 1100 - 9.1 - 2 - 2400
    53298

    <div id="footerContent">
            Page 1
    </div>
</body>
</html>